<table class="default">
  <tr>
    <th>Name</th>
    <th>Quantity</th>
    <th>Days to expire</th>
  </tr>
  <tr>
    <td>Name</td>
    <td>X</td>
    <td>X</td>
  </tr>
  <tr>
    <td>Name</td>
    <td>X</td>
    <td>X</td>

  </tr>
  <tr>
    <td>Name</td>
    <td>X</td>
    <td>X</td>
  </tr>
  <tr>
    <td>Name</td>
    <td>X</td>
    <td>X</td>
  </tr>
  <tr>
    <td>Name</td>
    <td>X</td>
    <td>X</td>
  </tr>
  <tr>
    <td>Name</td>
    <td>X</td>
    <td>X</td>
  </tr>
  <tr>
    <td>Name</td>
    <td>X</td>
    <td>X</td>
  </tr>