
<table class="default">
  <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Days to expire</th>
  </tr>
  <tr>
      <td>Product</td>
      <td>X</td>
      <td>X</td>
  </tr>
  <tr>
      <td>Product</td>
      <td>X</td>
      <td>X</td>
      
  </tr>
  <tr>
      <td>Product</td>
      <td>X</td>
      <td>X</td>
  </tr>
  <tr>
    <td>Product</td>
    <td>X</td>
    <td>X</td>
</tr><tr>
  <td>Product</td>
  <td>X</td>
  <td>X</td>
</tr><tr>
  <td>Product</td>
  <td>X</td>
  <td>X</td>
</tr><tr>
  <td>Product</td>
  <td>X</td>
  <td>X</td>
</tr>