html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: aliceblue;
    -webkit-text-fill-color: yellowgreen;
    -webkit-text-stroke: 1px black;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

.image {
    text-align: left;
    src: "src\Images\cute-cartoon-fridge-freezer-illustrated-146180101.jpg";
}

.fridge {
    object-fit: cover;
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
}

.container {
    text-align: right;
    border-width: 0.5px;
    border-style: dashed;
    border-color: black;
}

.col-50 {
    flex: 50%;
    padding: 16px;
    box-sizing: border-box;
    border-width: 0.5px;
    border-style: groove;
    border-color: black;
}

p {
    text-align: center;
}

input {
    display: block;
    margin: auto;
}

button {
    display: block;
    margin: auto;
}

footer {
    background-color: #fff;
    color: var(--second-c);
}

.selector{
    text-align: center;
}